---
layout: default
slug: index
---
<div class="py-5">
  <div class="container">
    <h2 class="display-4 text-center mb-3">Next-level loan approval</h2>
    <hr class="hr-mini">
    <h4 class="text-muted text-center font-weight-light mb-5">
      We bring analytics to lending and help you boost sales
    </h4>
    <div class="row">
      <div class="col-sm-4 margin-bottom-xl">
        <div class="position-relative" data-mh="col-group">
          <i class="nc-icon-outline design-2_selection nc-rem-xl my-3 text-primary"></i>
          <h4>
            Analyze hundreds of attributes
          </h4>
          <p class="text-muted text-shout">Neo provides a comprehensive scoring system that analyzes every aspect of an auto loan. Hundreds of attributes spanning customer stability, financial situation, credit bureau, loan terms, purchase vehicle, and more are analyzed in real-time to provide a score for the loan.</p>
        </div>
      </div>
      <div class="col-sm-4 margin-bottom-xl">
        <div class="position-relative" data-mh="col-group">
          <div class="svg lg icon-sw-ui-color-1_zoom-split"></div>
          <i class="nc-icon-outline business_handshake nc-rem-xl my-3 text-primary"></i>
          <h4>
            Increase good sales
          </h4>
          <p class="text-muted text-shout">Neo takes the guess work out of approving customers, especially those with low stability. By knowing which customers and deals are safe, lenders are able to focus on closing those deals. Using Neo, lenders typically boost their monthly sales by 15%.</p>
        </div>
      </div>
      <div class="col-sm-4 margin-bottom-xl">
        <div class="position-relative" data-mh="col-group">
          <div class="svg lg icon-sw-business-color_bulb-63"></div>
          <i class="nc-icon-outline business_payment nc-rem-xl my-3 text-primary"></i>
          <h4>
            Approve toughest deals
          </h4>
          <p class="text-muted text-shout">Our unique approach enables an auto lender to approve even the toughest of deals. On such deals, in addition to providing a score, Neo also specifies what downpayment, loan term, monthly payment, etc. will make the deal approvable.</p>
        </div>
      </div>
    </div>
  </div>
  <br class="clearfix" />
</div>

<div class="py-6 consumer-report">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-white">
        <h4 class="display-4 font-weight-light">
          Making an impact <br> in the market
        </h4>
        <p class="lead font-weight-thin mb-4">
          Lorem ipsum dolor sit amet,
          consectetur adipisicing elit
        </p>
        <a href="{{ '/consumer-report' | prepend: site.baseurl }}" class="btn btn-outline-white btn-lg">
          Read our consumer report
        </a>
      </div>
    </div>
  </div>
  <br class="clearfix" />
</div>

<div class="py-5 team">
  <div class="container">
    <h2 class="display-4 text-center mb-3">Meet the team</h2>
    <hr class="hr-mini">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h4 class="text-muted text-center font-weight-light mb-6">
          We work to make your business even better
        </h4>
      </div>
    </div>
    {% include team.html %}
  </div>
  <br class="clearfix" />
</div>

<div class="py-5 contact-us">
  <div class="container">
    <div class="row">
      <div class="col-md-6 responsive-text-align">
        <h2 class="display-4 text-primary">Get in touch with us</h2>
        <p>
          We'd love to talk with you about how we can help your business approve more loans, more intelligently
        </p>
      </div>
      <div class="col-md-6">
        {% include contact-form.html %}
      </div>
    </div>
  </div>
  <br class="clearfix" />
</div>