---
layout: default
slug: index
---
{% include about-spacious-container.html %}

<div class="py-5 team">
  <div class="container">
    <h2 class="display-4 text-center mb-3">Meet the team</h2>
    <hr class="hr-mini">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h4 class="text-muted text-center font-weight-light mb-6">
          We work to make your business even better
        </h4>
      </div>
    </div>
    {% include team.html %}
  </div>
  <br class="clearfix" />
</div>

{% include contact-form-container.html %}