html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
.footer {
  padding: 20px;
}

.display-1, .display-2, .display-3, .display-4 {
  font-style: italic;
}

hr.hr-mini {
  width: 180px;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.navbar {
  text-transform: uppercase;
  a {
    text-decoration: none;
    &.active {
      border-bottom: 2px solid $brand-primary;
      @include media-breakpoint-down(sm) {
        border-bottom: none;
      }
    }
  }
  .navbar-brand {
    img {
      height: 70px;
      @include media-breakpoint-down(sm) {
        height: 60px;
      }
    }
  }
  .navbar-toggler-right {
    top: 21px;
  }
}

header.hero, .body-index header {
  background-size: cover;
  min-height: 400px;
  .hero-content {
    text-align: right;
    margin: 65px 0 100px;
  }
  @include media-breakpoint-down(sm) {
    min-height: auto;
    background-size: auto;
    background: #EDEFF4 url($baseurl + "/assets/images/graph-paper.png") repeat;
    .hero-content {
      margin: 50px 0 65px;
      text-align: left;
      .display-3 {
        font-size: 2.7rem;
      }
      .lead {
        font-size: 1.25rem;
      }
      .call-to-action {
        flex-direction: row-reverse;
      }
    }
  }
}

.content-wrapper {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.body-index header{
  background: #EDEFF4 url($baseurl + "/assets/images/neo-focus-hero-wide.jpg") center center no-repeat;
  @include media-breakpoint-down(sm) {
    background: #EDEFF4 url($baseurl + "/assets/images/graph-paper.png") repeat;
  }
}
.body-about, .body-contact {
  header {
    background: #EDEFF4 url($baseurl + "/assets/images/graph-paper.png") repeat;
  }
}

address {
  font-size: $font-size-sm;
  font-weight: $font-weight-light;
  line-height: 1.3em;
}

.footer {
  background-color: $brand-primary;
  background: linear-gradient(294deg, #F56923 40%, #F57E23 64%);
  background: -moz-linear-gradient(294deg, #F56923 40%, #F57E23 64%);
  background: -webkit-linear-gradient(294deg, #F56923 40%, #F57E23 64%);
  background: -o-linear-gradient(294deg, #F56923 40%, #F57E23 64%);
  color: $white;
  font-size: $font-size-sm;
  a {
    color: $link-color-white;
    text-decoration: none;
    padding: 0;
    @include hover-focus {
      color: $link-hover-color-white;
    }
  }
  .footer-brand img {
    height: 45px;
  }
}