$navbar-height: 104px;

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
.footer {
  padding: 20px;
}

.display-1, .display-2, .display-3, .display-4 {
  font-style: italic;
}

hr.hr-mini {
  width: 180px;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.navbar {
  text-transform: uppercase;
  height: $navbar-height;
  a {
    text-decoration: none;
    &.active {
      border-bottom: 2px solid $brand-primary;
    }
  }
  .navbar-brand {
    img {
      height: 70px;
      @include media-breakpoint-down(sm) {
        height: 60px;
      }
    }
  }
  .navbar-toggler-right {
    top: 21px;
  }
}

.jumbotron {
  background-size: cover;
  min-height: 400px;
  margin-top: -$navbar-height;
  .hero-content {
    text-align: right;
    margin: 100px 0 80px;
  }
  @include media-breakpoint-down(sm) {
    min-height: auto;
    background-size: auto;
    background: #EDEFF4 url($baseurl + "/assets/images/graph-paper.png") repeat;
    .hero-content {
      margin: 120px 0 60px;
      text-align: left;
      .display-3 {
        font-size: 2.7rem;
      }
      .lead {
        font-size: 1.25rem;
      }
      .call-to-action {
        flex-direction: row-reverse;
      }
    }
  }
}

.content-wrapper {
  padding-top: 4rem;
  padding-bottom: 7rem;
}

main {
  &.page-index {
    .jumbotron {
      background: #EDEFF4 url($baseurl + "/assets/images/neo-focus-hero-wide.jpg") center center no-repeat;
      @include media-breakpoint-down(sm) {
        background: #EDEFF4 url($baseurl + "/assets/images/graph-paper.png") repeat;
      }
    }
  }
  &.page-about, &.page-contact {
    .jumbotron {
      background: #EDEFF4 url($baseurl + "/assets/images/graph-paper.png") repeat;
    }
  }
}

address {
  font-size: $font-size-sm;
  font-weight: $font-weight-light;
  line-height: 1.3em;
}

.footer {
  background-color: $brand-primary;
  background: linear-gradient(294deg, #F56923 40%, #F57E23 64%);
  background: -moz-linear-gradient(294deg, #F56923 40%, #F57E23 64%);
  background: -webkit-linear-gradient(294deg, #F56923 40%, #F57E23 64%);
  background: -o-linear-gradient(294deg, #F56923 40%, #F57E23 64%);
  color: $white;
  font-size: $font-size-sm;
  a {
    color: $link-color-white;
    text-decoration: none;
    padding: 0;
    @include hover-focus {
      color: $link-hover-color-white;
    }
  }
  .footer-brand img {
    height: 45px;
  }
}