.navbar {
  text-transform: uppercase;
  a {
    text-decoration: none;
  }
  .navbar-brand {
    img {
      height: 80px;
    }
  }
  .navbar-toggler-right {
    top: 35px;
  }
}

header {
  background: #EDEFF4 url($baseurl + "/assets/images/neo-focus-hero-wide.jpg") center center no-repeat;
  background-size: cover;
  min-height: 580px;
  .hero-content {
    text-align: right;
    margin: 80px 0;
  }
  @include media-breakpoint-down(sm) {
    min-height: auto;
    background: lighten($brand-secondary, 38%);
    .hero-content {
      margin: 50px 0;
      text-align: left;
      .call-to-action {
        flex-direction: row-reverse;
      }
    }
    .display-3 {
      font-size: 2.7rem;
    }
    .lead {
      font-size: 1.25rem;
    }
  }
}