html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
.footer {
  padding: 20px;
}

.display-1, .display-2, .display-3, .display-4 {
  font-style: italic;
}

hr.hr-mini {
  width: 180px;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.navbar {
  text-transform: uppercase;
  a {
    text-decoration: none;
    &.active {
      border-bottom: 2px solid $brand-primary;
      @include media-breakpoint-down(sm) {
        border-bottom: none;
      }
    }
  }
  .navbar-brand {
    img {
      height: 70px;
      @include media-breakpoint-down(sm) {
        height: 55px;
      }
    }
  }
  .navbar-toggler-right {
    top: 21px;
  }
}

// for heros with big image


.graph-paper {
  background-image: url($baseurl + "/assets/images/graph-paper.png");
  background-size: auto;
  background-repeat: repeat;
}

header {
  background-color: $off-white;
  margin-bottom: 2rem;
  padding-bottom: 2px;
  &.hero {
    min-height: 300px;
    background-image: url($baseurl + "/assets/images/graph-paper.png");
    background-size: auto;
    background-repeat: repeat;
    .hero-content {
      text-align: right;
      margin: 35px 0 100px;
    }
  }
  &.splash-hero {
    background-image: url($baseurl + "/assets/images/spacious-hero.jpg");
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include media-breakpoint-down(sm) {
      min-height: auto;
      background-image: url($baseurl + "/assets/images/graph-paper.png");
      background-size: auto;
      background-repeat: repeat;
    }
    .hero-content {
      text-align: right;
      margin: 65px 0 100px;
    }
  }

  @include media-breakpoint-down(md) {
    .display-3 {
      font-size: 4.1rem;
    }
    .lead {
      font-size: 1.35rem;
    }
  }
  &.hero, &.spash-hero {
    @include media-breakpoint-down(sm) {
      .hero-content {
        margin: 40px 0 65px;
        text-align: left;
        .display-3 {
          font-size: 2.5rem;
        }
        .lead {
          font-size: 1.1rem;
        }
        .call-to-action {
          flex-direction: row-reverse;
        }
      }
    }
  }
}

// for heros with repeated images

.body-about, .body-contact, .body-consumers, .body-privacy, .body-terms {
  header {
    background-image: url($baseurl + "/assets/images/graph-paper.png");
    background-size: auto;
    background-repeat: repeat;
  }
}



.content-wrapper {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

main {
  .team {
    background: $gray-lightest;
    .teammate-name {
      margin: 1rem 0 .5rem;
      font-weight: $font-weight-light;
      color: $brand-primary;
      small {
        color: $gray;
        font-size: .65em;
      }
    }
  }
  .consumer-report {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url($baseurl + "/assets/images/neo-working.jpg");
  }
  .contact-us {
    .responsive-text-align {
      text-align: right;
      @include media-breakpoint-down(sm) {
        text-align: left;
      }
    }
  }
  .contact-us {
    padding: 5rem 0;
    border-top: 1px solid;
    border-color: lighten($brand-secondary, 25%)
  }
}

address {
  font-size: $font-size-sm;
  font-weight: $font-weight-light;
  line-height: 1.3em;
}

.footer {
  background-color: $brand-primary;
  background: linear-gradient(294deg, #006e94 40%, #006588 64%);
  background: -moz-linear-gradient(294deg, #006e94 40%, #006588 64%);
  background: -webkit-linear-gradient(294deg, #006e94 40%, #006588 64%);
  background: -o-linear-gradient(294deg, #006e94 40%, #006588 64%);
  color: $white;
  font-size: $font-size-sm;
  a {
    color: $link-color-white;
    text-decoration: none;
    padding: 0;
    @include hover-focus {
      color: $link-hover-color-white;
    }
  }
  .footer-brand img {
    height: 45px;
  }
}