<div class="py-5 contact-us graph-paper" id="jq-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 responsive-text-align">
        <h2 class="display-4 text-primary">Get in touch with us</h2>
        <p>
          We'd love to talk with you about how we can help your business approve more loans, more intelligently
        </p>
        <p>
        Neo is privately held and based in Palo Alto, CA.
        <br />
        You can also reach us via email at <a href="mailto:info@neoverify.com">info@NeoVerify.com</a>.
        </p>
      </div>
      <!-- <div class="col-md-6">
        {% include contact-form.html %}
      </div> -->
    </div>
  </div>
  <br class="clearfix" />
</div>