<form action="https://formspree.io/info@neoverify.com" method="POST">
  <div class="form-group">
    <label for="contact-email">Email address</label>
    <input id="contact-email" class="form-control" type="email" name="_replyto" />
  </div>
  <div class="form-group">
    <label for="contact-message">Your message</label>
    <textarea id="contact-message" class="form-control" name="message" style="height: 8rem;"></textarea>
  </div>

  <input type="text" name="_gotcha" style="display:none" />
  <input type="hidden" name="_subject" value="New NeoVerify message" />
  <input type="hidden" name="_next" value="{{ '/thank-you' | prepend: site.baseurl }}" />

  <input type="submit" value="Send" class="btn btn-outline-primary">
</form>