<header>
  <div class="container mb-4">
    {% include nav.html %}
    <div class="hero-content row">
      <div class="col offset-sm-5">
        <h1 class="display-3 text-primary"><em>Make smarter loans</em></h1>
        <p class="lead mb-4">
          Neo's team specializes in <strong>technology-based solutions</strong>,
          <br/>
          providing a <strong>comprehensive scoring system</strong> that
          <br/>
          analyzes every aspect of an auto loan.
        </p>
        <button type="button" class="btn btn-secondary btn-lg btn-link">
          Learn more
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg">
          Contact us
        </button>
      </div>
    </div>
  </div>
  <br class="clearfix" />
</header>