<header {% if page.hero-message %} class="hero" {% elsif page.slug == "index" %} class="splash-hero"{% endif %}>
  <div class="container">
    {% include nav.html %}
  </div>
  <div class="container">
    {% if page.slug == "index" %}
      <div class="hero-content">
        <h1 class="display-3 text-primary">
          Make smarter loans
        </h1>
        <p class="lead mb-4">
          Neo's team specializes in <strong>technology-based solutions</strong>,
          <br class="hidden-sm-down"/>
          providing a <strong>comprehensive scoring system</strong> that
          <br class="hidden-sm-down"/>
          analyzes every aspect of an auto loan.
        </p>
        <div class="call-to-action d-inline-flex">
          <a href="#jq-about" class="btn btn-secondary btn-lg btn-link page-scroll">
            Learn more
          </a>
          <a href="#jq-contact" class="btn btn-outline-secondary btn-lg page-scroll">
            Contact us
          </a>
        </div>
      </div>
    {% elsif page.hero-message %}
      <div class="hero-content">
        <h1 class="display-3 text-primary">{{ page.hero-message }}</h1>
        {% if page.hero-subtext %}
          <div class="row justify-content-end">
            <div class="col-12 col-md-7">
              <p class="lead mb-4">
                {{ page.hero-subtext }}
              </p>
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</header>