{{site.baseurl}}{{site.title}}
<!-- jQuery -->
<script src="{{site.baseurl}}/assets/js/vendor/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{site.baseurl}}/assets/js/vendor/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="{{site.baseurl}}/assets/js/vendor/scrollreveal.js"></script>

<!-- Theme JavaScript -->
<script src="{{site.baseurl}}/assets/js/vendor/creative.js"></script>