<div class="team row justify-content-center">
  <div class="col-lg-3 col-sm-5 col-7 text-center my-3">
    <img class="rounded-circle img-fluid d-block mx-auto mb-3" src="{{site.baseurl}}/assets/images/team-navin.jpg" alt="">
    <h4 class="teammate-name">Navin <br class="hidden-sm-up"/>Bathija
        <br />
        <small>CEO<br class="hidden-xs-down"/>&nbsp;</small>
    </h4>
    <h6 class="email">Navin@NeoVerify.com</h6>
  </div>
  <div class="col-lg-3 col-sm-5 col-7 text-center my-3">
    <img class="rounded-circle img-fluid d-block mx-auto mb-3" src="{{site.baseurl}}/assets/images/team-antonio.jpg" alt="">
    <h4 class="teammate-name">Antonio R. <br class="hidden-sm-up"/>Rajan
        <br />
        <small>Chief Revenue & <br class="hidden-xs-down"/>Marketing Officer</small>
    </h4>
    <h6 class="email">Antonio@NeoVerify.com</h6>
  </div>
<!--   <div class="col-lg-3 col-sm-5 col-7 text-center my-3">
    <img class="rounded-circle img-fluid d-block mx-auto mb-3" src="{{site.baseurl}}/assets/images/team-vanessa.jpg" alt="">
    <h4 class="teammate-name">Vanessa A. <br class="hidden-sm-up"/>Woods
        <br />
        <small>Vice President <br class="hidden-xs-down"/>of Sales</small>
    </h4>
    <h6 class="email">Vanessa@NeoVerify.com</h6>
  </div> -->
  <div class="col-lg-3 col-sm-5 col-7 text-center my-3">
    <img class="rounded-circle img-fluid d-block mx-auto mb-3" src="{{site.baseurl}}/assets/images/team-ben.jpg" alt="">
    <h4 class="teammate-name">Ben <br class="hidden-sm-up"/>Bryant
        <br />
        <small>Vice President <br class="hidden-xs-down"/>of Engineering</small>
    </h4>
    <h6 class="email">Ben@NeoVerify.com</h6>
  </div>
<!--   <div class="col-lg-3 col-sm-5 col-7 text-center my-3">
    <img class="rounded-circle img-fluid d-block mx-auto mb-3" src="{{site.baseurl}}/assets/images/team-matt.jpg" alt="">
    <h4 class="teammate-name">Matt <br class="hidden-sm-up"/>Allen
        <br />
        <small>Sales <br  class="hidden-xs-down"/>Consultant</small>
    </h4>
    <h6 class="email">Matt@NeoVerify.com</h6>
  </div> -->
</div>