<div class="team row">
  <div class="col-lg-4 col-6 text-center my-3">
    <img class="rounded-circle img-fluid d-block mx-auto mb-3" src="http://placehold.it/200x200" alt="">
    <h4 class="teammate-name">Navin <br class="hidden-sm-up"/>Bathija
        <br />
        <small>CEO<br class="hidden-sm-up"/>&nbsp;</small>
    </h4>
    <h6 class="email">Navin@NeoVerify.com</h6>
    <p class="text-muted"><em>What does this team member to? Keep it short!</em></p>
  </div>
  <div class="col-lg-4 col-6 text-center my-3">
    <img class="rounded-circle img-fluid d-block mx-auto mb-3" src="http://placehold.it/200x200" alt="">
    <h4 class="teammate-name">Antonio R. <br class="hidden-sm-up"/>Rajan
        <br />
        <small>Chief Revenue & <br class="hidden-sm-up"/>Marketing Officer</small>
    </h4>
    <h6 class="email">Antonio@NeoVerify.com</h6>
    <p class="text-muted"><em>What does this team member to? Keep it short!</em></p>
  </div>
  <div class="col-lg-4 col-6 text-center my-3">
    <img class="rounded-circle img-fluid d-block mx-auto mb-3" src="http://placehold.it/200x200" alt="">
    <h4 class="teammate-name">Vanessa A. <br class="hidden-sm-up"/>Woods
        <br />
        <small>Vice President <br class="hidden-sm-up"/>of Sales</small>
    </h4>
    <h6 class="email">Vanessa@NeoVerify.com</h6>
    <p class="text-muted"><em>What does this team member to? Keep it short!</em></p>
  </div>
  <div class="col-lg-4 col-6 text-center my-3">
    <img class="rounded-circle img-fluid d-block mx-auto mb-3" src="http://placehold.it/200x200" alt="">
    <h4 class="teammate-name">Ben <br class="hidden-sm-up"/>Bryant
        <br />
        <small>Vice President <br class="hidden-sm-up"/>of Engineering</small>
    </h4>
    <h6 class="email">Ben@NeoVerify.com</h6>
    <p class="text-muted"><em>What does this team member to? Keep it short!</em></p>
  </div>
  <div class="col-lg-4 col-6 text-center my-3">
    <img class="rounded-circle img-fluid d-block mx-auto mb-3" src="http://placehold.it/200x200" alt="">
    <h4 class="teammate-name">Matt <br class="hidden-sm-up"/>Allen
        <br />
        <small>Sales <br class="hidden-sm-up"/>Consultant</small>
    </h4>
    <h6 class="email">Matt@NeoVerify.com</h6>
    <p class="text-muted"><em>What does this team member to? Keep it short!</em></p>
  </div>
</div>