<div class="team row">
  <div class="col-lg-4 col-sm-6 text-center my-3">
    <img class="rounded-circle img-fluid d-block mx-auto mb-3" src="http://placehold.it/200x200" alt="">
    <h4 class="teammate-name">Navin Bathija
        <br />
        <small>CEO</small>
    </h4>
    <p>What does this team member to? Keep it short!</p>
  </div>
  <div class="col-lg-4 col-sm-6 text-center my-3">
    <img class="rounded-circle img-fluid d-block mx-auto mb-3" src="http://placehold.it/200x200" alt="">
    <h4 class="teammate-name">Antonio R. Rajan
        <br />
        <small>Chief Revenue & Marketing Officer</small>
    </h4>
    <p>What does this team member to? Keep it short!</p>
  </div>
  <div class="col-lg-4 col-sm-6 text-center my-3">
    <img class="rounded-circle img-fluid d-block mx-auto mb-3" src="http://placehold.it/200x200" alt="">
    <h4 class="teammate-name">Vanessa A. Woods
        <br />
        <small>Vice President of Sales</small>
    </h4>
    <p>What does this team member to? Keep it short!</p>
  </div>
  <div class="col-lg-4 col-sm-6 text-center my-3">
    <img class="rounded-circle img-fluid d-block mx-auto mb-3" src="http://placehold.it/200x200" alt="">
    <h4 class="teammate-name">Ben Bryant
        <br />
        <small>Vice President of Engineering</small>
    </h4>
    <p>What does this team member to? Keep it short!</p>
  </div>
  <div class="col-lg-4 col-sm-6 text-center my-3">
    <img class="rounded-circle img-fluid d-block mx-auto mb-3" src="http://placehold.it/200x200" alt="">
    <h4 class="teammate-name">Matt Allen
        <br />
        <small>Sales Consultant</small>
    </h4>
    <p>What does this team member to? Keep it short!</p>
  </div>
</div>