---
layout: default
---
<div class="jumbotron jumbotron-fluid">
  <div class="container mb-4">
    <div class="hero-content">
      <h1 class="display-3 text-primary"><em>{{ page.hero-message }}</em></h1>
      {% if page.hero-subtext %}
        <div class="row justify-content-end">
          <div class="col-12 col-md-7">
            <p class="lead mb-4">
              {{ page.hero-subtext }}
            </p>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="container content-wrapper">
  {{ content }}
  <br class="clearfix" />
</div>
